/* ==================================================== Sizes */

.size-3xs .radio-button {
  width: calc(var(--size-3xs) + 2px);
  min-width: calc(var(--size-3xs) + 2px);
  height: calc(var(--size-3xs) + 2px);
  min-height: calc(var(--size-3xs) + 2px);
  border-width: 1px;
}

.size-2xs .radio-button {
  width: calc(var(--size-2xs) + 2px);
  min-width: calc(var(--size-2xs) + 2px);
  height: calc(var(--size-2xs) + 2px);
  min-height: calc(var(--size-2xs) + 2px);
  border-width: 1px;
}

.size-xs .radio-button {
  width: calc(var(--size-xs) + 2px);
  min-width: calc(var(--size-xs) + 2px);
  height: calc(var(--size-xs) + 2px);
  min-height: calc(var(--size-xs) + 2px);
  border-width: 1px;
}

.size-s .radio-button {
  width: calc(var(--size-s) + 2px);
  min-width: calc(var(--size-s) + 2px);
  height: calc(var(--size-s) + 2px);
  min-height: calc(var(--size-s) + 2px);
  border-width: 1px;
}

.size-m .radio-button {
  width: calc(var(--size-m) + 4px);
  min-width: calc(var(--size-m) + 4px);
  height: calc(var(--size-m) + 4px);
  min-height: calc(var(--size-m) + 4px);
  border-width: 2px;
}

.size-l .radio-button {
  width: calc(var(--size-l) + 4px);
  min-width: calc(var(--size-l) + 4px);
  height: calc(var(--size-l) + 4px);
  min-height: calc(var(--size-l) + 4px);
  border-width: 2px;
}

.size-xl .radio-button {
  width: calc(var(--size-xl) + 4px);
  min-width: calc(var(--size-xl) + 4px);
  height: calc(var(--size-xl) + 4px);
  min-height: calc(var(--size-xl) + 4px);
  border-width: 2px;
}

.size-2xl .radio-button {
  width: calc(var(--size-2xl) + 6px);
  min-width: calc(var(--size-2xl) + 6px);
  height: calc(var(--size-2xl) + 6px);
  min-height: calc(var(--size-2xl) + 6px);
  border-width: 3px;
}

.size-3xl .radio-button {
  width: calc(var(--size-3xl) + 6px);
  min-width: calc(var(--size-3xl) + 6px);
  height: calc(var(--size-3xl) + 6px);
  min-height: calc(var(--size-3xl) + 6px);
  border-width: 3px;
}

.size-4xl .radio-button {
  width: calc(var(--size-4xl) + 6px);
  min-width: calc(var(--size-4xl) + 6px);
  height: calc(var(--size-4xl) + 6px);
  min-height: calc(var(--size-4xl) + 6px);
  border-width: 3px;
}

.size-3xs .radio-point {
  width: 6px;
  height: 6px;
}

.size-2xs .radio-point {
  width: 8px;
  height: 8px;
}

.size-xs .radio-point {
  width: 8px;
  height: 8px;
}

.size-s .radio-point {
  width: 10px;
  height: 10px;
}

.size-m .radio-point {
  width: 12px;
  height: 12px;
}

.size-l .radio-point {
  width: 16px;
  height: 16px;
}

.size-xl .radio-point {
  width: 18px;
  height: 18px;
}

.size-2xl .radio-point {
  width: 22px;
  height: 22px;
}

.size-3xl .radio-point {
  width: 24px;
  height: 24px;
}

.size-4xl .radio-point {
  width: 26px;
  height: 26px;
}
