.radio {
  display: flex;
  align-items: center;
  max-width: max-content;
  border: 1px solid transparent;
  transition-property: background-color, box-shadow, border-color, color;
  transition-duration: 250ms, 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms, 0ms, 0ms, 0ms;
  border-radius: 0.2em;
}

.radio-fluid {
  max-width: 100%;
  width: 100%;
}

.theme-light .radio:hover {
  background-color: var(--primary-75);
}

.theme-dark .radio:hover {
  background-color: var(--primary-900);
}

.theme-light .radio-disabled:hover,
.theme-light .radio-disabled:focus {
  background-color: transparent;
}
.theme-dark .radio-disabled:hover,
.theme-dark .radio-disabled:focus {
  background-color: transparent;
}

.input-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.input-radio + .default-radio-label {
  user-select: none;
}

.default-radio-label {
  padding-left: 8px;
}
/* ============================================= */

.radio-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}

.radio-button-color {
  border-color: var(--accent-color);
}

.radio-button-disabled-color {
  border-color: var(--disabled-text-color) !important;
}

/* ============================================= */

.radio-point {
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.radio-point-active {
  background-color: var(--accent-color);
}

.radio-point-hidden {
  background-color: transparent;
}

/* .radio-point-color {
  color: var(--accent-color);
} */

.radio-point-disabled {
  background-color: var(--disabled-text-color) !important;
}
