.circle-progress-bar-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-progress-bar-wrapper-def-color {
  color: var(--gray-75);
}

.circle-progress-bar {
  position: absolute;
  max-height: 100px;
  max-width: 100px;
  width: 100%;
  height: 100%;
  /* transform: scale(1.8); */
}

.circle-progress-bar>* {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.circle-progress-bar>.chart-circle-progress-bar {
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
  transform: rotate(180deg);
  /* z-index: 1; */
  stroke: var(--green);
  /* color: ; */
}

.chart-circle-progress-bar-background {
  fill: none;
  stroke-width: 5;
  stroke: var(--gray-75);
}

.circle-progress-bar-children {
  position: absolute;
}