.tooltipWrapper {
  /* max-width: max-content; */
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-light .tooltip {
  box-shadow: 0px 0px 5px 2px var(--shadow-color);
}

.tooltip {
  /* position: absolute; */
  background-color: var(--tooltip-bg-color);
  /* box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); */
  border-radius: 0.2rem;
  /* margin-top: 5px; */
  /* top: 50%; */

  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.tooltip-position-top {
  /* top: calc(-380% + 20px); */
  padding-bottom: 20px;
}
.tooltip-position-bottom {
  top: 100%;
  padding-top: 20px;
  /* margin-top: 20px; */
}
.tooltipWrapper .is-hidden {
  opacity: 0;
  width: 0px;
  height: 0px;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;

  /* padding: 0; */
}
.tooltipWrapper .is-visible {
  opacity: 1;
  /* width: 100%; */
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  /* opacity: 1; */
}

.tooltip-margin {
  position: absolute;
  /* display: flex;
  justify-content: center; */
  /* max-width: max-content; */
  width: max-content;
  min-width: max-content;
  /* height: 1px !important; */
  /* height: 20px; */
  /* width: 20px; */
}
