.theme-light {
  --primary-bg-color: #ffffff;
  --primary-text-color: #000a1b;
  --div-border-color: #000a1b;
  --block-border-color: rgba(34, 36, 38, 0.15);
  --disabled-bg-color: rgba(204, 204, 204, 0.2);
  --shadow-color: rgba(0, 0, 0, 0.25);
  --modal-border-color: rgb(0, 73, 150, 0.25);
  --switch-bg-color: #a0a1a2;
  --switch-disabled-bg-color: #dbdbdb;
  --switch-active-disabled-bg-color: #a0cefb;

  --tooltip-bg-color: #ffffff;
  /* ================= Modal */
  --modal-overlay-background: rgba(0, 33, 72, 0.7);
  /* ===================================== Delta  */
  --negative-cell: #f9a8a8;
  --positive-cell: #82da90;
  /* ================================ New */
  --accordion-background: #e5f2ff;
}
