.theme-dark {
  --primary-bg-color: #000a1b;
  --primary-text-color: white;
  --div-border-color: #e5e5e5;
  --block-border-color: rgba(216, 218, 219, 0.35);
  --disabled-bg-color: #292929;
  --shadow-color: rgba(255, 255, 255, 0.25);
  --modal-border-color: rgb(255, 255, 255, 0.25);
  --switch-bg-color: #696969;
  --switch-disabled-bg-color: #3b3b3b;
  --switch-active-disabled-bg-color: #0d3966;

  --tooltip-bg-color: #1f314c;
  /* ================= Modal */
  --modal-overlay-background: rgba(128, 173, 219, 0.7);
  /* ===================================== Delta  */
  --negative-cell: #6d192a;
  --positive-cell: #0c544c;
  /* ================================ New */
  --accordion-background: #001632;
}
