@keyframes loading-v2 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-v2 {
  position: absolute;
  width: calc(var(--size-xs) + 8px);
  height: calc(var(--size-xs) + 8px);
}

.el1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: loading 2s linear infinite;
}

.el2-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.65);
  top: 0;
  left: 0;
}

.el2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: loading 2s linear infinite reverse;
}

/* ==================================================== Sizes */

.size-3xs .loading-v2 {
  width: calc(var(--size-3xs) + 8px);
  height: calc(var(--size-3xs) + 8px);
}

.size-2xs .loading-v2 {
  width: calc(var(--size-2xs) + 8px);
  height: calc(var(--size-2xs) + 8px);
}

.size-xs .loading-v2 {
  width: calc(var(--size-xs) + 8px);
  height: calc(var(--size-xs) + 8px);
}

.size-s .loading-v2 {
  width: calc(var(--size-s) + 8px);
  height: calc(var(--size-s) + 8px);
}

.size-m .loading-v2 {
  width: calc(var(--size-m) + 8px);
  height: calc(var(--size-m) + 8px);
}

.size-l .loading-v2 {
  width: calc(var(--size-l) + 8px);
  height: calc(var(--size-l) + 8px);
}

.size-xl .loading-v2 {
  width: calc(var(--size-xl) + 8px);
  height: calc(var(--size-xl) + 8px);
}

.size-2xl .loading-v2 {
  width: calc(var(--size-2xl) + 8px);
  height: calc(var(--size-2xl) + 8px);
}

.size-3xl .loading-v2 {
  width: calc(var(--size-3xl) + 8px);
  height: calc(var(--size-3xl) + 8px);
}

.size-4xl .loading-v2 {
  width: calc(var(--size-4xl) + 8px);
  height: calc(var(--size-4xl) + 8px);
}
