.snackbar {
  min-height: 30px;
  min-width: 100px;
  max-width: 330px;
  position: fixed;
  display: flex;
  align-items: center;
  top: 25px;
  right: 25px;
  padding: 5px;
  z-index: 16;
  border-radius: 0.2em;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: top 0.15s ease-out;
  opacity: 1;
  background-color: var(--info);
}

.snackbar.type-error {
  background-color: var(--error);
}

.snackbar.type-warn {
  background-color: var(--warn);
}

.snackbar.type-success {
  background-color: var(--success);
}

.snackbar-hide {
  opacity: 0;
  pointer-events: none;
}

.snackbar > * {
  margin: 5px;
}
