.logo-outline {
  /* width: 299px; */
  height: 37px;
}

@media screen and (min-width: 768px) {
  .logo-outline {
    height: 47px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-outline {
    /* width: 471px; */
    height: 74px;
  }
}
