.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination-button:last-child {
  margin-left: 10px;
}
.pagination-button:first-child {
  margin-right: 10px;
}

.pagination-buttons:not(:last-child) {
  margin-right: 5px;
}
