.dimmer {
  position: relative;
  background-color: var(--primary-bg-color);
}

.dimmer-fit-content {
  width: fit-content;
}

.dimmer-child {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.blur {
  filter: blur(30px);
}

.dimmer-text {
  opacity: 1;
}
