.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.flexbox-nowrap {
  flex-wrap: nowrap;
}

.flexbox-row {
  flex-direction: row;
}

.flexbox-column {
  flex-direction: column;
}

.flexbox-content-start {
  justify-content: flex-start;
}

.flexbox-content-end {
  justify-content: flex-end;
}

.flexbox-content-center {
  justify-content: center;
}

.flexbox-content-space-between {
  justify-content: space-between;
}

.flexbox-content-space-around {
  justify-content: space-around;
}

.flexbox-align-items-baseline {
  align-items: baseline;
}

.flexbox-align-items-start {
  align-items: flex-start;
}

.flexbox-align-items-end {
  align-items: flex-end;
}

.flexbox-align-items-center {
  align-items: center;
}

.flexbox-align-items-stretch {
  align-items: stretch;
}
