.exchange-item-binance {
    background: var(--binance);
    color: black;
}

.exchange-item-bitfinex {
    background: var(--bitfinex);
    color: black;
}

.exchange-item-bitstamp {
    background: var(--bitstamp);
}

.exchange-item-coinbasepro {
    color: white;
    background: var(--coinbasepro);
    min-width: 120px;
}

.exchange-item-hitbtc {
    background: var(--hitbtc);
    color: white;
}

.exchange-item-huobipro {
    background: var(--huobipro);
    color: white;
    min-width: 90px;
}

.exchange-item-okex {
    background: var(--okex);
    color: white;
}

.exchange-item-poloniex {
    background: var(--poloniex);
    color: black;
}

.exchange-item-kraken {
    background: var(--kraken);
    color: white;
}

.exchange-item-bittrex {
    background: var(--bittrex);
    color: white;
}

.exchange-item-bithumb {
    background: var(--bithumb);
    color: white;
}

.exchange-item-ftx {
    background: var(--ftx);
    color: white;
}

.table-header-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}