.simple-table {
  display: table;
  font-size: 16px;
  border-spacing: 0;
}

.simple-table tr th {
  vertical-align: middle;
  text-align: center;
}

.table-fluid {
  width: 100%;
}

.simple-table-header th {
  padding: 0 1px;
  border-bottom: 1px solid var(--default-border-color);
}

/* ===================================== Padding */

.simple-table tr td:last-child {
  padding-right: 4px;
}

/* ==================================== Border */

.table-border {
  border: 1px solid var(--default-border-color);
  border-radius: 0.2em;
}

.table-border-header thead tr td {
  border-bottom: 1px solid var(--default-border-color);
}

.table-border-footer tfoot tr td {
  border-top: 1px solid var(--default-border-color);
}

.table-border-cell td:not(:last-child) {
  border-right: 1px solid var(--default-border-color);
}

.table-border-bottom-cell td {
  border-bottom: 1px solid var(--default-border-color);
}

/* ====================== Default */

.default-table-border th:not(:last-child) {
  border-right: 1px solid var(--default-border-color);
}

.default-table-border .simple-table-body tr:not(:last-child) td {
  border-bottom: 1px solid var(--default-border-color);
}

.simple-table .table-cell-item {
  border-radius: 0.2em;
  padding: 10px 4px;
}

/* =================================== Border-bottom */

.table-border-bottom th {
  border-bottom: 1px solid var(--default-border-color);
}

.table-border-bottom td {
  border-bottom: 1px solid var(--default-border-color);
}

/* =================================== */

.table-positive-cell {
  background-color: var(--positive-cell);
}

.table-negative-cell {
  background-color: var(--negative-cell);
}

/* ===================== align items ============== */

.table-item-text-align-center {
  text-align: center;
}

.table-item-text-align-left {
  text-align: left;
}

.table-item-text-align-right {
  text-align: right;
}

/* ===================== vertical items ============== */

/* .table-item-vertical-align-bottom {
  vertical-align: bottom;
}

.table-item-vertical-align-middle {
  vertical-align: middle;
}

.table-item-vertical-align-top {
  vertical-align: top;
} */

.no-border-wrapper {
  border: none;
}

.simple-table tr th > div {
  font-weight: bold;
}
