.ReactVirtualized__Table {
  font-size: 14px;
}

.ReactVirtualized__Table__headerRow {
  border-bottom: 1px solid var(--default-border-color);
  text-transform: none !important;
  font-weight: 600 !important;
}

.table-virtualized-center .ReactVirtualized__Table__headerRow {
  margin: 0 auto;
}

.header-column-no-margin {
  margin-left: 0;
}

.table-cell-item {
  padding: 10px 0;
  border-radius: 0.2em;
}

.ReactVirtualized__Table__rowColumn {
  margin: 0 !important;
}

/* =========================================== Scroll ============================================== */
.table-grid-virtualized {
  margin: 0 auto;
}

.table-grid-virtualized:hover {
  overflow: hidden auto !important;
}

.table-grid-virtualized:focus {
  outline: none;
}

.table-grid-virtualized::-webkit-scrollbar {
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--default-border-color);
  width: 8px;
  border-radius: 0.2em;
}

.table-grid-virtualized::-webkit-scrollbar-thumb {
  appearance: none;
  background-color: var(--accent-color);
  height: 20px;
  width: 5px;
  border-radius: 0.2em;
}

@-moz-document {
  .table-grid-virtualized {
    appearance: none;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) !important;
  }
}
