.menu {
  display: grid;
  align-items: center;
}

.menu-logo img {
  height: 40px;
  z-index: 1;
}

.menu-left-grid-item.left {
  justify-content: left;
}

.menu-right-grid-item.right {
  justify-content: right;
}

/* ===================== */
/* ===================== */
.center-menu-item {
  display: flex;
}

.center-menu-item-flex {
  align-items: center;
  justify-content: center;
}

/* ===================== */

.left-menu-item {
  display: flex;
}

.left-menu-item-center-flex {
  align-items: center;
  /* justify-content: center; */
}

.left-menu-item-row {
  flex-direction: row;
}

.left-menu-item-flex-left {
  align-items: center;
  justify-content: flex-start;
}

.left-menu-item-flex-right {
  align-items: center;
  justify-content: flex-end;
}

.menu-item-align-start {
  display: flex;
  align-items: flex-start;
}
.menu-item-align-center {
  display: flex;
  align-items: center;
}
.menu-item-align-end {
  display: flex;
  align-items: flex-end;
}

/* ===================== */

.right-menu-item {
  display: flex;
  justify-content: flex-end;
}

.right-menu-item-center-flex {
  align-items: center;
  /* justify-content: center; */
}

.right-menu-item-row {
  flex-direction: row;
}

.right-menu-item-flex-left {
  align-items: center;
  justify-content: flex-start;
}

.right-menu-item-flex-right {
  align-items: center;
  justify-content: flex-end;
}
