.default-breadcrumb-ul {
  display: flex;
}

.default-breadcrumb-ul a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.default-breadcrumb-ul a:hover {
  text-decoration: underline;
}

.default-breadcrumb-item {
  padding: 0 6px;
}

.breadcrumb-last-item {
  font-weight: bold;
}

.breadcrumb-last-item a {
  pointer-events: none;
  cursor: default;
}

.center-icon-marker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-icon-marker a {
  color: var(--accent-color);
}
