.list-default li {
  text-align: left;
}

.list-none {
  list-style-type: none;
}

/* ========================= Markers */

.list-lower-roman {
  list-style-type: lower-roman;
}

.list-upper-roman {
  list-style-type: upper-roman;
}

.list-open {
  list-style-type: disclosure-open;
}

.list-closed {
  list-style-type: disclosure-closed;
}

.list-disc {
  list-style-type: disc;
}

.list-circle {
  list-style-type: circle;
}

.list-square {
  list-style-type: square;
}

.list-decimal {
  list-style-type: decimal;
}

.list-decimal-leading-zero {
  list-style-type: decimal-leading-zero;
}

/* ======================== Position */

.marker-inside {
  list-style-position: inside;
}

.marker-outside {
  list-style-position: outside;
}

/* ======================= Types */
.list-item-base {
  list-style-type: none;
}

.list-item-base::before {
  color: var(--accent-color);
  content: '●';
  padding-right: 10px;
}

.list-item-secondary {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.list-item-secondary::before {
  color: var(--accent-color);
  content: '-';
  padding-right: 10px;
  padding-left: 10px;
}

.list-item-border {
  list-style-type: none;
  border-top: 1px solid var(--accent-color);
  padding: 5px 0;
}

.list-item-border:hover {
  background: var(--accent-color-bg-01);
}

.list-item-border:last-child {
  border-bottom: 1px solid var(--accent-color);
}

.list-item-inline {
  display: inline;
}

.list-item-inline::before {
  padding-left: 10px;
}

.list-item-link {
  color: var(--blue);
  text-decoration: underline;
}

.no-text-decoration {
  text-decoration: none;
  color: var(--primary-text-color);
}

.list-item-item-border {
  display: block;
  padding: 5px 10px;
  text-decoration: underline;
  border: 1px solid var(--accent-color);
  border-radius: 0.2em;
  width: max-content;
  margin-bottom: 5px;
}

.list-item-item-bgr {
  display: block;
  padding: 5px 10px;
  text-decoration: underline;
  border: 1px solid var(--accent-color);
  border-radius: 0.2em;
  width: max-content;
  margin-bottom: 5px;
  background-color: var(--accent-color-bg-01);
}

/* ======================= */

.list-item {
  margin: 5px 0;
}

/* ================= Margin / Padding */

.list-default-no-margin {
  margin: 0;
}

.list-default-no-padding {
  padding-left: 0;
}
