/* ==================== Input Main Wrapper */
.input-main-wrapper {
  display: inline-block;
  position: relative;
  padding: 0;
}

/* ==================== Input Wrapper */
.input-wrapper {
  display: inline-block;
  position: relative;
}

/* ==================== Input */

.input-element {
  border: none;

  color: var(--primary-text-color);
  display: inline-block;
  background-color: transparent;
}

.input-with-icon-left {
  padding-left: calc(var(--size-xs) + 14px + 8px);
}

.input-with-icon-right {
  padding-right: calc(var(--size-xs) + 14px + 8px);
}

/* ========== To Do */
/* .input-element:focus {
  opacity: 1;
} */

.input-element:focus-visible {
  border: none;
  outline: none;
}

/* .default-input-border {
  border: 1px solid var(--default-border-color);
  border-radius: 0.2em;
} */

.default-input-border,
.default-input-border:focus {
  border: 1px solid var(--default-border-color);
  border-radius: 0.2em;
}

.standard-input-border,
.standard-input-border:focus {
  border-bottom: 1px solid var(--default-border-color);
}

.input-border-disabled {
  border-color: var(--disabled-text-color);
}

/* ==================== Input Icons */
.input-icon {
  position: absolute !important;
  opacity: 0.5;
  top: 50%;
  left: 0;
  transform: translate(14px, -50%);
}

.input-icon-right {
  left: auto;
  right: 0;
  transform: translate(-14px, -50%);
}

.input-element:focus + .input-icon {
  opacity: 1;
}

/* ==================== Input Label */
.input-label {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-label-fluid {
  width: 100%;
}

/* =========  Inputs error ========= */

.input-label-error {
  color: var(--red);
}

.input-help-text {
  padding: 4px 8px;
}

.input-error-message {
  color: var(--red);
}

.input-success-message {
  color: var(--green);
}

.input-element-error,
.input-element-error:hover,
.input-element-error:focus {
  border-color: var(--red);
}

/* =========  Inputs success ========= */

.input-label-success {
  color: var(--green);
}

.input-element-success,
.input-element-success:hover,
.input-element-success:focus {
  border-color: var(--green);
}

/* =========================== */

.input-label-text {
  margin: 0;
}

.label-required-star {
  color: var(--red);
}

.input-loading {
  opacity: 0.6;
  background-color: rgba(128, 128, 128, 0.1);
}

.input-main-wrapper .loading-v2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-icon-buton {
  background: transparent;
  border: none;
  outline: none;
  color: var(--primary-text-color);
}

.input-icon-buton:hover {
  cursor: pointer;
}

.input-icon-buton:active {
  background: transparent;
  border: none;
  outline: none;
}
