.size-3xs .input-element {
  padding: 6px 10px;
}

.size-2xs .input-element {
  padding: 6px 12px;
}

.size-xs .input-element {
  padding: 8px 14px;
}

.size-s .input-element {
  padding: 8px 16px;
}

.size-m .input-element {
  padding: 8px 16px;
}

.size-l .input-element {
  padding: 8px 18px;
}

.size-xl .input-element {
  padding: 8px 18px;
}

.size-2xl .input-element {
  padding: 8px 20px;
}

.size-3xl .input-element {
  padding: 8px 20px;
}

.size-4xl .input-element {
  padding: 8px 24px;
}
