/* .size-3xs .input-element::placeholder {
  font-size: var(--size-3xs);
}

.size-2xs .input-element::placeholder {
  font-size: var(--size-3xs);
}

.size-xs .input-element::placeholder {
  font-size: var(--size-2xs);
}

.size-s .input-element::placeholder {
  font-size: var(--size-xs);
}

.size-m .input-element::placeholder {
  font-size: var(--size-s);
}

.size-l .input-element::placeholder {
  font-size: var(--size-m);
}

.size-xl .input-element::placeholder {
  font-size: var(--size-l);
}

.size-2xl .input-element::placeholder {
  font-size: var(--size-xl);
}

.size-3xl .input-element::placeholder {
  font-size: var(--size-2xl);
}

.size-4xl .input-element::placeholder {
  font-size: var(--size-3xl);
} */

/* ~~~~~ input-label ~~~~~ */
.size-3xs .input-label {
  font-size: var(--size-3xs);
}

.size-2xs .input-label {
  font-size: var(--size-3xs);
}

.size-xs .input-label {
  font-size: var(--size-2xs);
}

.size-s .input-label {
  font-size: var(--size-xs);
}

.size-m .input-label {
  font-size: var(--size-s);
}

.size-l .input-label {
  font-size: var(--size-m);
}

.size-xl .input-label {
  font-size: var(--size-l);
}

.size-2xl .input-label {
  font-size: var(--size-xl);
}

.size-3xl .input-label {
  font-size: var(--size-2xl);
}

.size-4xl .input-label {
  font-size: var(--size-3xl);
}

/* ~~~~~ input-help-text ~~~~~ */
.size-3xs .input-help-text {
  font-size: var(--size-3xs);
}

.size-2xs .input-help-text {
  font-size: var(--size-3xs);
}

.size-xs .input-help-text {
  font-size: var(--size-2xs);
}

.size-s .input-help-text {
  font-size: var(--size-xs);
}

.size-m .input-help-text {
  font-size: var(--size-s);
}

.size-l .input-help-text {
  font-size: var(--size-m);
}

.size-xl .input-help-text {
  font-size: var(--size-l);
}

.size-2xl .input-help-text {
  font-size: var(--size-xl);
}

.size-3xl .input-help-text {
  font-size: var(--size-2xl);
}

.size-4xl .input-help-text {
  font-size: var(--size-3xl);
}
