.size-3xs .input-with-icon-right {
  padding-right: calc(var(--size-3xs) + 14px + 8px);
}

.size-3xs .input-with-icon-left {
  padding-left: calc(var(--size-3xs) + 14px + 8px);
}

.size-2xs .input-with-icon-right {
  padding-right: calc(var(--size-2xs) + 14px + 8px);
}

.size-2xs .input-with-icon-left {
  padding-left: calc(var(--size-2xs) + 14px + 8px);
}

.size-xs .input-with-icon-right {
  padding-right: calc(var(--size-xs) + 14px + 8px);
}

.size-xs .input-with-icon-left {
  padding-left: calc(var(--size-xs) + 14px + 8px);
}

.size-s .input-with-icon-right {
  padding-right: calc(var(--size-s) + 14px + 8px);
}

.size-s .input-with-icon-left {
  padding-left: calc(var(--size-s) + 14px + 8px);
}

.size-m .input-with-icon-right {
  padding-right: calc(var(--size-m) + 14px + 8px);
}

.size-m .input-with-icon-left {
  padding-left: calc(var(--size-m) + 14px + 8px);
}

.size-l .input-with-icon-right {
  padding-right: calc(var(--size-l) + 14px + 8px);
}

.size-l .input-with-icon-left {
  padding-left: calc(var(--size-l) + 14px + 8px);
}

.size-xl .input-with-icon-right {
  padding-right: calc(var(--size-xl) + 14px + 8px);
}

.size-xl .input-with-icon-left {
  padding-left: calc(var(--size-xl) + 14px + 8px);
}

.size-2xl .input-with-icon-right {
  padding-right: calc(var(--size-2xl) + 14px + 8px);
}

.size-2xl .input-with-icon-left {
  padding-left: calc(var(--size-2xl) + 14px + 8px);
}

.size-3xl .input-with-icon-right {
  padding-right: calc(var(--size-3xl) + 14px + 8px);
}

.size-3xl .input-with-icon-left {
  padding-left: calc(var(--size-3xl) + 14px + 8px);
}

.size-4xl .input-with-icon-right {
  padding-right: calc(var(--size-4xl) + 14px + 8px);
}

.size-4xl .input-with-icon-left {
  padding-left: calc(var(--size-4xl) + 14px + 8px);
}
