.progress-bar-items:not(:last-child) {
  margin-right: 2px;
}

.progress-bar-items {
  border-radius: 0;
}

.progress-bar-items:first-child {
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.progress-bar-items:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  /* border-bottom-right-radius: 0;
  border-top-right-radius: 0; */
}
