/* ======================================= Filling active disabled */

/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/
/* ===============================*/

.accent-color {
  color: var(--accent-color);
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

.olive {
  color: var(--olive);
}

.green {
  color: var(--green);
}

.teal {
  color: var(--teal);
}

.blue {
  color: var(--blue);
}

.violet {
  color: var(--violet);
}

.purple {
  color: var(--purple);
}

.pink {
  color: var(--pink);
}

.brown {
  color: var(--brown);
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

/* ======================================= */

.btc-stb {
  color: var(--btc-stb);
}

.alt-stb {
  color: var(--alt-stb);
}

.alt-btc {
  color: var(--alt-btc);
}

.alt-alt {
  color: var(--alt-alt);
}

.stb-stb {
  color: var(--stb-stb);
}

.binance {
  color: var(--binance);
}

.bitfinex {
  color: var(--bitfinex);
}

.bitstamp {
  color: var(--bitstamp);
}

.coinbasepro {
  color: var(--coinbasepro);
}

.hitbtc {
  color: var(--hitbtc);
}

.huobipro {
  color: var(--huobipro);
}

.okex {
  color: var(--okex);
}

.poloniex {
  color: var(--poloniex);
}

.kraken {
  color: var(--kraken);
}

.bittrex {
  color: var(--bittrex);
}

.bithumb {
  color: var(--bithumb);
}

.ftx {
  color: var(--ftx);
}

/* ======================================== */

.bg-red {
  background-color: var(--red);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-olive {
  background-color: var(--olive);
}

.bg-green {
  background-color: var(--green);
}

.bg-teal {
  background-color: var(--teal);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-violet {
  background-color: var(--violet);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-pink {
  background-color: var(--pink);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-black {
  background-color: var(--black);
}

.bg-btc-stb {
  background-color: var(--btc-stb);
}

.bg-alt-stb {
  background-color: var(--alt-stb);
}

.bg-alt-btc {
  background-color: var(--alt-btc);
}

.bg-alt-alt {
  background-color: var(--alt-alt);
}

.bg-stb-stb {
  background-color: var(--stb-stb);
}

.bg-binance {
  background-color: var(--binance);
}

.bg-bitfinex {
  background-color: var(--bitfinex);
}

.bg-bitstamp {
  background-color: var(--bitstamp);
}

.bg-coinbasepro {
  background-color: var(--coinbasepro);
}

.bg-hitbtc {
  background-color: var(--hitbtc);
}

.bg-huobipro {
  background-color: var(--huobipro);
}

.bg-okex {
  background-color: var(--okex);
}

.bg-poloniex {
  background-color: var(--poloniex);
}

.bg-kraken {
  background-color: var(--kraken);
}

.bg-bittrex {
  background-color: var(--bittrex);
}

.bg-bithumb {
  background-color: var(--bithumb);
}

.bg-ftx {
  background-color: var(--ftx);
}

/* =============================================== */

.border-red {
  border-color: var(--red);
}

.border-orange {
  border-color: var(--orange);
}

.border-yellow {
  border-color: var(--yellow);
}

.border-olive {
  border-color: var(--olive);
}

.border-green {
  border-color: var(--green);
}

.border-teal {
  border-color: var(--teal);
}

.border-blue {
  border-color: var(--blue);
}

.border-violet {
  border-color: var(--violet);
}

.border-purple {
  border-color: var(--purple);
}

.border-pink {
  border-color: var(--pink);
}

.border-brown {
  border-color: var(--brown);
}

.border-gray {
  border-color: var(--gray);
}

.border-black {
  border-color: var(--black);
}

/* ================================================================== */

.border-color-button-outlined-red {
  border-color: var(--outlined-border-red);
}

.border-color-button-outlined-orange {
  border-color: var(--outlined-border-orange);
}

.border-color-button-outlined-yellow {
  border-color: var(--outlined-border-yellow);
}

.border-color-button-outlined-olive {
  border-color: var(--outlined-border-olive);
}

.border-color-button-outlined-green {
  border-color: var(--outlined-border-green);
}

.border-color-button-outlined-teal {
  border-color: var(--outlined-border-teal);
}

.border-color-button-outlined-blue {
  border-color: var(--outlined-border-blue);
}

.border-color-button-outlined-violet {
  border-color: var(--outlined-border-violet);
}

.border-color-button-outlined-purple {
  border-color: var(--outlined-border-purple);
}

.border-color-button-outlined-pink {
  border-color: var(--outlined-border-pink);
}

.border-color-button-outlined-brown {
  border-color: var(--outlined-border-brown);
}

.border-color-button-outlined-gray {
  border-color: var(--outlined-border-gray);
}

.border-color-button-outlined-black {
  color: var(--primary-text-color);
  border-color: var(--outlined-border-black);
}