.container {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 3840px;
}

@media screen and (min-width: 360px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container {
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media screen and (min-width: 1480px) {
  .container {
    padding-left: 240px;
    padding-right: 240px;
  }
}
