pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

/*!
    Theme: devibeans (dark)
    Author: @terminaldweller
    Maintainer: @terminaldweller

    Inspired by vim's jellybeans theme (https://github.com/nanotech/jellybeans.vim)
*/
.hljs {
    background: #000;
    color: #a39e9b
}

.hljs-attr, .hljs-template-tag {
    color: #86ccfe
}

.hljs-comment, .hljs-doctag, .hljs-quote {
    color: #396
}

.hljs-params {
    color: #f1be4e
}

.hljs-regexp {
    color: #d700ff
}

.hljs-literal, .hljs-number, .hljs-selector-id, .hljs-tag {
    color: #ef5350
}

.hljs-meta, .hljs-meta .hljs-keyword {
    color: #0087ff
}

.hljs-code, .hljs-formula, .hljs-keyword, .hljs-link, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-variable {
    color: #ff67ff
}

.hljs-built_in, .hljs-deletion, .hljs-title {
    color: #d84b4b
}


.hljs-attribute, .hljs-function, .hljs-name, .hljs-property, .hljs-section, .hljs-type {
    color: #fdfdac
}

.hljs-addition, .hljs-bullet, .hljs-meta .hljs-string, .hljs-string, .hljs-subst, .hljs-symbol {
    color: #89fd3a
}

.hljs-selector-tag {
    color: #96f
}

.function_ {
    color: #85cafc
}

.code-line-number {
    color: #c2c2c2;
}

.code-background {
    color: #1e1e1e;
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}