.page-block {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 360px) {
  .page-block {
  }
}

@media screen and (min-width: 480px) {
  .page-block {
  }
}

@media screen and (min-width: 768px) {
  .page-block {
  }
}

@media screen and (min-width: 1024px) {
  .page-block {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .page-block {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}

@media screen and (min-width: 1480px) {
  .page-block {
  }
}
