:root {
  --accent-color: #017dfb;
  --disabled-text-color: #c4c4c4;
  --red: #ff3737;
  --orange: #fb824a;
  --yellow: #f2a94c;
  --olive: #b4ca31;
  --green: #1fc875;
  --teal: #1db4ac;
  --blue: #017dfb;
  --violet: #5f57ca;
  --purple: #a13bc5;
  --pink: #f82c60;
  --brown: #a36742;
  --gray: #999999;
  --black: #1b1c1d;
  --default-border-color: rgba(1, 125, 251, 0.25);

  --silver: #ccc;
  --white: #fff;

  --btn-pressed-bg: #babbbc;
  --default-btn-bg: #979797;

  --filling-btn-hover: #0069d5;
  --filling-btn-active: #015ab7;
  --filling-btn-active-disabled: rgba(1, 90, 183, 0.5);

  /* --simple-table-th-color: #c4c4c4; */
  /* --simple-table-th-bg: #404040; */
  /* --simple-table-tr-border: #ea3323; */

  --react-grid-item-statics-bg: #cce;
  --droppable-element-bg: #fdd;

  --loading-color-border-main: #1780f7;

  --accent-color-bg-01: rgba(1, 125, 251, 0.1);
  --accent-color-bg-02: rgba(1, 125, 251, 0.2);
  --accent-color-03: rgba(1, 125, 251, 0.3);
  --accent-color-08: rgba(1, 125, 251, 0.8);
  --disabled--accent-color: #a0cefb;
  /* --accent-color-09: rgba(1, 125, 251, 0.9); */

  --small-hover-red: rgba(255, 55, 55, 0.1);
  --small-hover-orange: rgba(251, 130, 74, 0.1);
  --small-hover-yellow: rgba(242, 169, 76, 0.1);
  --small-hover-olive: rgba(180, 202, 49, 0.1);
  --small-hover-green: rgba(31, 200, 117, 0.1);
  --small-hover-teal: rgba(29, 180, 172, 0.1);
  --small-hover-blue: rgba(1, 125, 251, 0.1);
  --small-hover-violet: rgba(95, 87, 202, 0.1);
  --small-hover-purple: rgba(165, 5, 223, 0.1);
  --small-hover-pink: rgba(248, 44, 96, 0.1);
  --small-hover-brown: rgba(163, 103, 66, 0.1);
  --small-hover-gray: rgba(118, 118, 118, 0.1);
  --small-hover-black: rgba(0, 0, 0, 0.1);

  --hover-red: rgba(255, 55, 55, 0.2);
  --hover-orange: rgba(251, 130, 74, 0.2);
  --hover-yellow: rgba(242, 169, 76, 0.2);
  --hover-olive: rgba(180, 202, 49, 0.2);
  --hover-green: rgba(31, 200, 117, 0.2);
  --hover-teal: rgba(29, 180, 172, 0.2);
  --hover-blue: rgba(1, 125, 251, 0.2);
  --hover-violet: rgba(95, 87, 202, 0.2);
  --hover-purple: rgba(161, 59, 197, 0.2);
  --hover-pink: rgba(248, 44, 96, 0.2);
  --hover-brown: rgba(163, 103, 66, 0.2);
  --hover-gray: rgba(118, 118, 118, 0.2);
  --hover-black: rgba(0, 0, 0, 0.2);
  --hover-white: rgba(255, 255, 255, 0.2);

  --outlined-border-red: rgba(255, 55, 55, 0.25);
  --outlined-border-orange: rgba(251, 130, 74, 0.25);
  --outlined-border-yellow: rgba(242, 169, 76, 0.25);
  --outlined-border-olive: rgba(180, 202, 49, 0.25);
  --outlined-border-green: rgba(31, 200, 117, 0.25);
  --outlined-border-teal: rgba(29, 180, 172, 0.25);
  --outlined-border-blue: rgba(1, 125, 251, 0.25);
  --outlined-border-violet: rgba(95, 87, 202, 0.25);
  --outlined-border-purple: rgba(161, 59, 197, 0.25);
  --outlined-border-pink: rgba(248, 44, 96, 0.25);
  --outlined-border-brown: rgba(163, 103, 66, 0.25);
  --outlined-border-gray: rgba(118, 118, 118, 0.25);
  --outlined-border-black: rgba(0, 0, 0, 0.25);

  --hover-half-red: rgba(255, 55, 55, 0.5);
  --hover-half-orange: rgba(251, 130, 74, 0.5);
  --hover-half-yellow: rgba(242, 169, 76, 0.5);
  --hover-half-olive: rgba(180, 202, 49, 0.5);
  --hover-half-green: rgba(31, 200, 117, 0.5);
  --hover-half-teal: rgba(29, 180, 172, 0.5);
  --hover-half-blue: rgba(1, 125, 251, 0.5);
  --hover-half-violet: rgba(95, 87, 202, 0.5);
  --hover-half-purple: rgba(161, 59, 197, 0.5);
  --hover-half-pink: rgba(248, 44, 96, 0.5);
  --hover-half-brown: rgba(163, 103, 66, 0.5);
  --hover-half-gray: rgba(118, 118, 118, 0.5);
  --hover-half-black: rgba(0, 0, 0, 0.5);
  /* ========================================= Filling active disabled */
  /* --hover-quater-red: rgba(255, 55, 55, 0.2);
  --hover-quater-orange: rgba(251, 130, 74, 0.2);
  --hover-quater-yellow: rgba(242, 169, 76, 0.2);
  --hover-quater-olive: rgba(180, 202, 49, 0.2);
  --hover-quater-green: rgba(31, 200, 117, 0.2);
  --hover-quater-teal: rgba(29, 180, 172, 0.2);
  --hover-quater-blue: rgba(1, 125, 251, 0.2);
  --hover-quater-violet: rgba(95, 87, 202, 0.2);
  --hover-quater-purple: rgba(161, 59, 197, 0.2);
  --hover-quater-pink: rgba(248, 44, 96, 0.2);
  --hover-quater-brown: rgba(163, 103, 66, 0.2);
  --hover-quater-gray: rgba(118, 118, 118, 0.2);
  --hover-quater-black: rgba(0, 0, 0, 0.2); */
  /* =========================================  */

  --default-btn-hover: rgb(104, 104, 104);

  --binance: #efb82d;
  --bitfinex: #9ae165;
  --bitstamp: #159e49;
  --bittrex: #134069;
  --coinbasepro: #0052ff;
  --hitbtc: #42acdb;
  --huobipro: #28a7e1;
  --okex: #205fec;
  --poloniex: #41d8be;
  --kraken: #5741d9;
  --bithumb: #fe9601;
  --ftx: #00B4C9;

  --error: #d13135;
  --warn: #eb6c20;
  --info: #1689ce;
  --success: #327c36;

  --btc-stb: var(--yellow);
  --alt-stb: var(--green);
  --alt-btc: var(--pink);
  --alt-alt: var(--gray);
  --stb-stb: #8000f3;
}