:root {
  /* --micro: 12px;
  --micro-second: 8px;
  --mini: 14px;
  --mini-second: 10px;
  --tiny: 16px;
  --tiny-second: 12px;
  --little: 18px;
  --little-second: 14px;
  --small: 20px;
  --small-second: 16px;
  --medium: 25px;
  --medium-second: 21px;
  --large: 30px;
  --large-second: 26px;
  --big: 35px;
  --big-second: 31px;
  --huge: 40px;
  --huge-second: 36px;
  --massive: 45px;
  --massive-second: 41px; */

  --size-3xs: 12px;
  --size-2xs: 14px;
  --size-xs: 16px;
  --size-s: 18px;
  --size-m: 20px;
  --size-l: 26px;
  --size-xl: 30px;
  --size-2xl: 36px;
  --size-3xl: 40px;
  --size-4xl: 46px;
}
