.scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  border-radius: 2px;
}

.theme-light .scroll::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 4px var(--primary-900); */
}
.theme-dark .scroll::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 4px var(--primary-75); */
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.theme-light .scroll::-webkit-scrollbar-thumb {
  background: var(--primary-350);
}
.theme-dark .scroll::-webkit-scrollbar-thumb {
  background: var(--primary-525);
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}
