.size-3xs {
  font-size: var(--size-3xs);
  line-height: 18px;
  padding: 6px 10px;
}

.size-2xs {
  font-size: var(--size-2xs);
  line-height: 20px;
  padding: 6px 12px;
}

.size-xs {
  font-size: var(--size-xs);
  line-height: 22px;
  padding: 8px 14px;
}

.size-s {
  font-size: var(--size-s);
  line-height: 26px;
  padding: 8px 16px;
}

.size-m {
  font-size: var(--size-m);
  line-height: 28px;
  padding: 8px 16px;
}

.size-l {
  font-size: var(--size-l);
  line-height: 34px;
  padding: 8px 18px;
}

.size-xl {
  font-size: var(--size-xl);
  line-height: 40px;
  padding: 8px 18px;
}

.size-2xl {
  font-size: var(--size-2xl);
  line-height: 48px;
  padding: 8px 20px;
}

.size-3xl {
  font-size: var(--size-3xl);
  line-height: 58px;
  padding: 8px 20px;
}

.size-4xl {
  font-size: var(--size-4xl);
  line-height: 62px;
  padding: 8px 24px;
}
