body {
    font-family: 'Montserrat', sans-serif;
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-size: 16px;
}

a {
    color: var(--primary-text-color)
}

p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}