.markdown {
  padding: 0;
}

.markdown-list-markers-red ul li::marker {
  color: var(--red);
}

.markdown-list-markers-orange ul li::marker {
  color: var(--orange);
}

.markdown-list-markers-yellow ul li::marker {
  color: var(--yellow);
}

.markdown-list-markers-olive ul li::marker {
  color: var(--olive);
}

.markdown-list-markers-green ul li::marker {
  color: var(--green);
}

.markdown-list-markers-teal ul li::marker {
  color: var(--teal);
}

.markdown-list-markers-blue ul li::marker {
  /* color: var(--blue); */
  color: var(--accent-color);
}

.markdown-list-markers-violet ul li::marker {
  color: var(--violet);
}

.markdown-list-markers-purple ul li::marker {
  color: var(--purple);
}

.markdown-list-markers-pink ul li::marker {
  color: var(--pink);
}

.markdown-list-markers-brown ul li::marker {
  color: var(--brown);
}

.markdown-list-markers-gray ul li::marker {
  color: var(--gray);
}

.markdown-list-markers-black ul li::marker {
  color: var(--black);
}

.markdown-list-markers-white ul li::marker {
  color: var(--white);
}