.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
  overflow-x: clip;
  background-color: transparent;
}

.react-grid-item {
  transition: all 200ms ease;
  max-width: calc(100vw - 5px);
  transition-property: left, top;
}

.react-grid-item img {
  pointer-events: none;
  user-select: none;
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: rgba(15, 79, 177, 0.726);
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}

.react-grid-item > .react-resizable-handle::after {
  content: "" !important;
  position: absolute !important;
  right: 5.5px !important;
  bottom: 3px !important;
  width: 5px !important;
  border-bottom: 1px solid var(--accent-color-08) !important;
  border-right: none !important;
  height: 0 !important;
}

.react-grid-item > .react-resizable-handle::before {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 10px;
  height: 3px;
  border-top: 1px solid var(--accent-color-08);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
  transform: rotate(320deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(270deg) !important;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(0deg) !important;
}

#content {
  width: 100%;
}

.layoutJSON {
  background: #ddd;
  border: 1px solid var(--black);
  margin-top: 10px;
  padding: 10px;
}

.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}

.react-grid-item {
  box-sizing: border-box;
}

.react-grid-item:not(.react-grid-placeholder) {
  border: 1px solid var(--default-border-color);
  border-radius: 0.2em;
}

.react-grid-item.resizing {
  opacity: 0.9;
}

.react-grid-item.static {
  background: var(--react-grid-item-statics-bg);
}

.react-grid-item .text {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 24px;
}

.react-grid-item .minMax {
  font-size: 10px;
}

.react-grid-dragHandleExample {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.droppable-element {
  width: 150px;
  text-align: center;
  background: var(--droppable-element-bg);
  border: 1px solid var(--black);
  margin: 10px 0;
  padding: 10px;
}

.layout-header {
  width: calc(inherit - 5px);
  cursor: move;
  position: relative;
  border-radius: 0.2em 0.2em 0 0;
}

.layout-content {
  width: calc(inherit - 5px);
  position: relative;
}
