.basic-button {
  background-color: transparent;
  color: var(--primary-text-color);
}

.basic-color {
  color: var(--primary-text-color);
}

.basic-button:hover {
  background-color: var(--accent-color-bg-02);
  color: var(--accent-color);
  fill: var(--accent-color);
}

.transparency-hover-bg-red:hover {
  color: var(--red);
  background-color: var(--hover-red);
}

.transparency-hover-bg-orange:hover {
  color: var(--orange);
  background-color: var(--hover-orange);
}

.transparency-hover-bg-yellow:hover {
  color: var(--yellow);
  background-color: var(--hover-yellow);
}

.transparency-hover-bg-olive:hover {
  color: var(--olive);
  background-color: var(--hover-olive);
}

.transparency-hover-bg-green:hover {
  color: var(--green);
  background-color: var(--hover-green);
}

.transparency-hover-bg-teal:hover {
  color: var(--teal);
  background-color: var(--hover-teal);
}

.transparency-hover-bg-blue:hover {
  color: var(--blue);
  background-color: var(--hover-blue);
}

.transparency-hover-bg-violet:hover {
  color: var(--violet);
  background-color: var(--hover-violet);
}

.transparency-hover-bg-purple:hover {
  color: var(--purple);
  background-color: var(--hover-purple);
}

.transparency-hover-bg-pink:hover {
  color: var(--pink);
  background-color: var(--hover-pink);
}

.transparency-hover-bg-brown:hover {
  color: var(--brown);
  background-color: var(--hover-brown);
}

.transparency-hover-bg-gray:hover {
  color: var(--gray);
  background-color: var(--hover-gray);
}

.transparency-hover-bg-white {
  color: var(--primary-text-color) !important;
}

.transparency-hover-bg-white:hover {
  color: var(--primary-text-color);
  background-color: var(--hover-white);
}

.transparency-hover-bg-black {
  color: var(--primary-text-color) !important;
}

.transparency-hover-bg-black:hover {
  color: var(--primary-text-color);
  background-color: var(--hover-black);
}

.bg-transparency-red,
.bg-transparency-red:hover,
.bg-transparency-red:active {
  background: var(--hover-red) !important;
  color: var(--red) !important;
}

.bg-transparency-orange,
.bg-transparency-orange:hover,
.bg-transparency-orange:active {
  background: var(--hover-orange) !important;
  color: var(--orange) !important;
}

.bg-transparency-yellow,
.bg-transparency-yellow:hover,
.bg-transparency-yellow:active {
  background: var(--hover-yellow) !important;
  color: var(--yellow) !important;
}

.bg-transparency-olive,
.bg-transparency-olive:hover,
.bg-transparency-olive:active {
  background: var(--hover-olive) !important;
  color: var(--olive) !important;
}

.bg-transparency-green,
.bg-transparency-green:hover,
.bg-transparency-green:active {
  background: var(--hover-green) !important;
  color: var(--green) !important;
}

.bg-transparency-teal,
.bg-transparency-teal:hover,
.bg-transparency-teal:active {
  background: var(--hover-teal) !important;
  color: var(--teal) !important;
}

.bg-transparency-blue,
.bg-transparency-blue:hover,
.bg-transparency-blue:active {
  background: var(--hover-blue) !important;
  color: var(--blue) !important;
}

.bg-transparency-violet,
.bg-transparency-violet:hover,
.bg-transparency-violet:active {
  background: var(--hover-violet) !important;
  color: var(--violet) !important;
}

.bg-transparency-purple,
.bg-transparency-purple:hover,
.bg-transparency-purple:active {
  background: var(--hover-purple) !important;
  color: var(--purple) !important;
}

.bg-transparency-pink,
.bg-transparency-pink:hover,
.bg-transparency-pink:active {
  background: var(--hover-pink) !important;
  color: var(--pink) !important;
}

.bg-transparency-brown,
.bg-transparency-brown:hover,
.bg-transparency-brown:active {
  background: var(--hover-brown) !important;
  color: var(--brown) !important;
}

.bg-transparency-gray,
.bg-transparency-gray:hover,
.bg-transparency-gray:active {
  background: var(--hover-gray) !important;
  color: var(--gray) !important;
}

.bg-transparency-black,
.bg-transparency-black:hover,
.bg-transparency-black:active {
  background: var(--hover-black) !important;
  color: white !important;
}

.bg-transparency-white,
.bg-transparency-white:hover,
.bg-transparency-white:active {
  background: var(--hover-white) !important;
  color: white !important;
}

/* ======================== Active Disabled */

.basic-button-active-disabled-bg-red,
.basic-button-active-disabled-bg-red:hover,
.basic-button-active-disabled-bg-red:active {
  background-color: var(--small-hover-red) !important;
}

.basic-button-active-disabled-bg-orange,
.basic-button-active-disabled-bg-orange:hover,
.basic-button-active-disabled-bg-orange:active {
  background-color: var(--small-hover-orange) !important;
}

.basic-button-active-disabled-bg-yellow,
.basic-button-active-disabled-bg-yellow:hover,
.basic-button-active-disabled-bg-yellow:active {
  background-color: var(--small-hover-yellow) !important;
}

.basic-button-active-disabled-bg-olive,
.basic-button-active-disabled-bg-olive:hover,
.basic-button-active-disabled-bg-olive:active {
  background-color: var(--small-hover-olive) !important;
}

.basic-button-active-disabled-bg-green,
.basic-button-active-disabled-bg-green:hover,
.basic-button-active-disabled-bg-green:active {
  background-color: var(--small-hover-green) !important;
}

.basic-button-active-disabled-bg-teal,
.basic-button-active-disabled-bg-teal:hover,
.basic-button-active-disabled-bg-teal:active {
  background-color: var(--small-hover-teal) !important;
}

.basic-button-active-disabled-bg-blue,
.basic-button-active-disabled-bg-blue:hover,
.basic-button-active-disabled-bg-blue:active {
  background-color: var(--small-hover-blue) !important;
}

.basic-button-active-disabled-bg-violet,
.basic-button-active-disabled-bg-violet:hover,
.basic-button-active-disabled-bg-violet:active {
  background-color: var(--small-hover-violet) !important;
}

.basic-button-active-disabled-bg-purple,
.basic-button-active-disabled-bg-purple:hover,
.basic-button-active-disabled-bg-purple:active {
  background-color: var(--small-hover-purple) !important;
}

.basic-button-active-disabled-bg-pink,
.basic-button-active-disabled-bg-pink:hover,
.basic-button-active-disabled-bg-pink:active {
  background-color: var(--small-hover-pink) !important;
}

.basic-button-active-disabled-bg-brown,
.basic-button-active-disabled-bg-brown:hover,
.basic-button-active-disabled-bg-brown:active {
  background-color: var(--small-hover-brown) !important;
}

.basic-button-active-disabled-bg-gray,
.basic-button-active-disabled-bg-gray:hover,
.basic-button-active-disabled-bg-gray:active {
  background-color: var(--small-hover-gray) !important;
}

.basic-button-active-disabled-bg-black,
.basic-button-active-disabled-bg-black:hover,
.basic-button-active-disabled-bg-black:active {
  background-color: var(--small-hover-black) !important;
}