.button {
  position: relative;
  border: 1px solid transparent;
  border-radius: 0.2em;
  transition-property: background-color, box-shadow, border-color, color;
  transition-duration: 250ms, 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms, 0ms, 0ms, 0ms;
}

.button-fluid {
  width: 100%;
}

.button-circle {
  padding: 8px;
  border-radius: 50%;
}

.button-circle > span {
  line-height: normal;
}

.button-slim {
  padding: 4px 14px !important;
}

.disabled {
  color: var(--disabled-text-color) !important;
}

.disabled:hover {
  box-shadow: none;
}

.bg-transparent {
  background: transparent;
}

.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.button-right {
  display: flex;
  align-items: center;
  justify-content: right;
}

.button-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-padding-outlined {
  padding: 8px 14px;
}

.icon-button {
  transform: scale(1.2);
}

.button-icon-position-right {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}

.icon-button-left {
  margin-right: 8px;
}

.icon-button-right {
  margin-right: 0;
  margin-left: 8px;
}

.icon-button-center {
  margin: 0;
}

.button-text-color-white,
.button-text-color-white:hover {
  color: white;
}

.button-text-color-active-white,
.button-text-color-active-white:hover,
.button-text-color-active-white:active {
  color: white !important;
}

/* .button-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-children {
  display: flex;
  align-items: center;
} */

/* ============================== active */
/* .button:active {
  background-color: var(--btn-pressed-bg);
  background-image: '';
  color: rgba(0, 0, 0, 0.144);
  -webkit-box-shadow: 0 0 0 1px transparent inset, none;
  box-shadow: 0 0 0 1px transparent inset, none;
} */
