.button-group {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  background: none;
  border: 1px solid var(--default-border-color);
  border-radius: 0.2em;
}

.button-group button {
  margin: 0;
  border-radius: 0;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.button-group button:first-child {
  border-radius: 0.2em 0 0 0.2em;
}

.button-group button:last-child {
  border-radius: 0 0.2em 0.2em 0;
  border-right: none;
}

.button-group .button-outlined-active {
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.button-group .button-outlined-active:last-child {
  border-right: none;
}

.button-group-horiz .button:first-child {
  border-radius: 0;
}

.button-group-horiz .button {
  border-radius: 0;
}

.button-group-horiz .button:last-child {
  border-radius: 0 0 0.2em 0.2em;
}

.button-group-without-border {
  border: none;
}
