.default-button {
    background-color: var(--default-btn-bg);
    box-shadow: 0 1px 2px var(--shadow-color);
}

.default-button:hover {
    background-color: var(--default-btn-hover);
    box-shadow: 0 4px 6px var(--shadow-color);
}

.default-button-active {
    background: var(--default-btn-hover);
}

.default-button-disabled,
.default-button-disabled:hover {
    background-color: var(--default-btn-hover);
}