.button-filling {
  box-shadow: 0 2px 6px var(--shadow-color);
  /* color: var(--primary-text-color); */
}

.button-filling a {
  color: var(--white);
}

.button-filling:hover {
  background: var(--filling-btn-hover);
  box-shadow: 0 4px 6px var(--shadow-color);
}

.bg-hover-half-red:hover {
  background-color: var(--hover-half-red);
}

.bg-hover-half-orange:hover {
  background-color: var(--hover-half-orange);
}

.bg-hover-half-yellow:hover {
  background-color: var(--hover-half-yellow);
}

.bg-hover-half-olive:hover {
  background-color: var(--hover-half-olive);
}

.bg-hover-half-green:hover {
  background-color: var(--hover-half-green);
}

.bg-hover-half-teal:hover {
  background-color: var(--hover-half-teal);
}

.bg-hover-half-blue:hover {
  background-color: var(--hover-half-blue);
}

.bg-hover-half-violet:hover {
  background-color: var(--hover-half-violet);
}

.bg-hover-half-purple:hover {
  background-color: var(--hover-half-purple);
}

.bg-hover-half-pink:hover {
  background-color: var(--hover-half-pink);
}

.bg-hover-half-brown:hover {
  background-color: var(--hover-half-brown);
}

.bg-hover-half-gray:hover {
  background-color: var(--hover-half-gray);
}

.bg-hover-half-black:hover {
  background-color: var(--hover-half-black);
}

.bg-half-red,
.bg-half-red:hover,
.bg-half-red:active {
  background: var(--hover-half-red) !important;
}

.bg-half-orange,
.bg-half-orange:hover,
.bg-half-orange:active {
  background: var(--hover-half-orange) !important;
}

.bg-half-yellow,
.bg-half-yellow:hover,
.bg-half-yellow:active {
  background: var(--hover-half-yellow) !important;
}

.bg-half-olive .bg-half-olive:hover,
.bg-half-olive:active {
  background: var(--hover-half-olive) !important;
}

.bg-half-green .bg-half-green:hover,
.bg-half-green:active {
  background: var(--hover-half-green) !important;
}

.bg-half-teal .bg-half-teal:hover,
.bg-half-teal:active {
  background: var(--hover-half-teal) !important;
}

.bg-half-blue,
.bg-half-blue:hover,
.bg-half-blue:active {
  background: var(--hover-half-blue) !important;
}

.bg-half-violet,
.bg-half-violet:hover,
.bg-half-violet:active {
  background: var(--hover-half-violet) !important;
}

.bg-half-purple,
.bg-half-purple:hover,
.bg-half-purple:active {
  background: var(--hover-half-purple) !important;
}

.bg-half-pink,
.bg-half-pink:hover,
.bg-half-pink:active {
  background: var(--hover-half-pink) !important;
}

.bg-half-brown,
.bg-half-brown:hover,
.bg-half-brown:active {
  background: var(--hover-half-brown) !important;
}

.bg-half-gray,
.bg-half-gray:hover,
.bg-half-gray:active {
  background: var(--hover-half-gray) !important;
}

.bg-half-black,
.bg-half-black:hover,
.bg-half-black:active {
  background: var(--hover-half-black) !important;
}

.bg-quater-red,
.bg-quater-red-hover:hover,
.bg-quater-red-hover:active {
  background-color: var(--hover-red) !important;
}

.bg-quater-orange,
.bg-quater-orange:hover,
.bg-quater-orange:active {
  background-color: var(--hover-orange) !important;
}

.bg-quater-yellow,
.bg-quater-yellow:hover,
.bg-quater-yellow:active {
  background-color: var(--hover-yellow) !important;
}

.bg-quater-olive,
.bg-quater-olive:hover,
.bg-quater-olive:active {
  background-color: var(--hover-olive) !important;
}

.bg-quater-green,
.bg-quater-green:hover,
.bg-quater-green:active {
  background-color: var(--hover-green) !important;
}

.bg-quater-teal,
.bg-quater-teal:hover,
.bg-quater-teal:active {
  background-color: var(--hover-teal) !important;
}

.bg-quater-blue,
.bg-quater-blue:hover,
.bg-quater-blue:active {
  background-color: var(--hover-blue) !important;
}

.bg-quater-violet,
.bg-quater-violet:hover,
.bg-quater-violet:active {
  background-color: var(--hover-violet) !important;
}

.bg-quater-purple,
.bg-quater-purple:hover,
.bg-quater-purple:active {
  background-color: var(--hover-purple) !important;
}

.bg-quater-pink,
.bg-quater-pink:hover,
.bg-quater-pink:active {
  background-color: var(--hover-pink) !important;
}

.bg-quater-brown,
.bg-quater-brown:hover,
.bg-quater-brown:active {
  background-color: var(--hover-brown) !important;
}

.bg-quater-gray,
.bg-quater-gray:hover,
.bg-quater-gray:active {
  background-color: var(--hover-gray) !important;
}

.bg-quater-black,
.bg-quater-black:hover,
.bg-quater-black:active {
  background-color: var(--hover-black) !important;
}