.button-outlined {
    color: var(--primary-text-color);
    border: 1px solid var(--default-border-color);
    background-color: transparent;
}

.button-outlined:hover {
    background-color: var(--accent-color-bg-02);
}

.button-outline-border {
    border: 1px solid;
}