.button:active {
  background-color: var(--btn-pressed-bg);
  /* background-image: ''; */
  color: rgba(0, 0, 0, 0.144);
  /* -webkit-box-shadow: 0 0 0 1px transparent inset, none; */
  /* box-shadow: 0 0 0 1px transparent inset, none; */
}

.basic-button-active,
.basic-button-active:active {
  color: var(--accent-color);
  fill: var(--accent-color);
  background-color: var(--accent-color-bg-02);
  cursor: default;
}

.button-filling-active,
.button-filling-active:hover,
.button-filling-active:active {
  background: var(--filling-btn-active);
  cursor: default;
}

.button-outlined-active,
.button-outlined-active:hover,
.button-outlined-active:active {
  background-color: var(--accent-color-bg-02);
  border: 1px solid var(--default-border-color);
  color: var(--primary-text-color);
  cursor: default;
}

/* ============================ Disabled */

.basic-button-disabled,
.basic-button-disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
  color: var(--disabled-text-color) !important;
}

.filling-button-disabled,
.filling-button-disabled:hover {
  background-color: var(--disabled-bg-color);
  cursor: not-allowed;
  color: var(--disabled-text-color) !important;
}

.button-outlined-disabled,
.button-outlined-disabled:hover {
  background-color: transparent !important;
  cursor: not-allowed;
  border: 1px solid var(--disabled-bg-color) !important;
  color: var(--disabled-text-color) !important;
}

.disabled-text-color,
.disabled-text-color:hover,
.disabled-text-color:active {
  color: var(--disabled-text-color) !important;
  cursor: not-allowed;
}

/* ========================== Disabled Active */

.basic-button-active-disabled,
.basic-button-active-disabled:hover,
.basic-button-active-disabled:active {
  background-color: var(--accent-color-bg-01);
  color: var(--disabled-text-color);
  cursor: default !important;
}

.filling-button-active-disabled,
.filling-button-active-disabled:hover,
.filling-button-active-disabled:active {
  background-color: var(--filling-btn-active-disabled) !important;
  /* box-shadow: none !important; */
  cursor: default !important;
}

.button-outlined-disabled-active,
.button-outlined-disabled-active:hover,
.button-outlined-disabled-active:active {
  background-color: var(--accent-color-bg-01) !important;
  cursor: default !important;
}

.cursor-default-button {
  cursor: default !important;
}

.box-shadow-active,
.box-shadow-active:hover {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 50%) inset;
}
