.modal-buttons {
    width: 200px;
}

.modal-block {
    padding: 1em 0.5em;
}

@media (min-width:400px) {
    .modal-buttons:not(:last-child) {
        margin-right: 10px;
    }
}

@media (max-width:400px) {
    .modal-buttons:not(:last-child) {
        margin-bottom: 10px;
    }
}