.footer {
  min-width: 320px;

  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;

  background-color: white;

  text-align: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
}

.theme-dark .footer {
  background-color: var(--primary-1000);
}

.footer-data {
  margin: 0 auto;
  padding-top: 16px;

  font-size: 12px;
  line-height: 1.5;

  border-top-width: 1px;
  border-top-style: solid;
}

.footer-divider {
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .footer-data {
    font-size: 14px;
    line-height: 1.43;
  }
}

.theme-light .footer-data {
  color: var(--gray-550);
  border-top-color: var(--gray-100);
}

.theme-dark .footer-data {
  color: var(--gray-625);
  border-top-color: var(--gray-700);
}
