.partLogoImg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.dotsLeftImg {
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: -1;
}

.dotsRightImg {
  position: absolute;
  top: 30%;
  right: 10%;
  z-index: -1;
}

.lineImg {
  position: absolute;
  bottom: 7%;
  left: 0;
  z-index: -1;
}

.lineImgSmall {
  position: absolute;
  bottom: 7%;
  left: -15%;
  z-index: -1;
}