@import "./styles/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import "./styles/code.css";

@import "./styles/root.css";
@import "./styles/rootColors.css";
@import "./styles/rootSizes.css";
@import "./styles/common.css";
@import "./styles/container.css";
@import "./styles/pageBlock.css";
@import "./styles/sizes.css";
@import "./styles/scroll.css";

@import "./styles/themes/themeLight.css";
@import "./styles/themes/themeDark.css";

@import "./styles/tag.css";
@import "./styles/cursor.css";

@import "./elements/input";
@import "./elements/codeInput/codeInput.css";
@import "./elements/button/index.css";
@import "./elements/checkbox";
@import "./elements/switch";
@import "./elements/image/image.css";
@import "./elements/block/block.css";
@import "./elements/divider/divider.css";
@import "./elements/heading/heading.css";
@import "./elements/container/container.css";
@import "./elements/line/line.css";
@import "./elements/link/link.css";
@import "./elements/label/label.css";
@import "./elements/message/message.css";
@import "./elements/pagination/pagination.css";
@import "./elements/slider/slider.css";
@import "./elements/loading/loading.css";
@import "./elements/list/list.css";
@import "./elements/radio";
@import "./elements/icon/icon.css";
@import "./elements/grid/grid.css";
@import "./elements/flexbox/flexbox.css";
@import "./elements/markdown/markdown.css";
@import "./elements/icon/statusIcons/statusIcon.css";

@import "./collections/breadcrumb/breadcrumb.css";
@import "./collections/chat/chat.css";
@import "./collections/footer/footer.css";
@import "./collections/appHeader";
@import "./collections/form/form.css";
@import "./collections/layout/layout.css";
@import "./collections/menu/menu.css";
@import "./collections/tree/index.css";
@import "./collections/table/index.css";

@import "./elements/textarea/textarea.css";

@import "./modules/tab/tab.css";
@import "./modules/progressBar/progressBar/progressBar.css";
@import "./collections/progressGroup/progressGroup.css";

@import "./elements/snackbar";

@import "./views/card/card.css";
@import "./views/statistics/statistics.css";

@import "./styles/colors.css";
@import "./modules//progressBar/circleProgressBar";

@import "./modules/dimmer/dimmer.css";
@import "./modules/dropdown";
@import "./modules/popup/popup.css";
@import "./modules/popup/modal.css";
@import "./modules/errorBoundary/errorBoundary.css";
@import "./modules/imagesSlider/imagesSlider.css";
@import "./modules/tooltip/tooltip.css";
@import "./elements/buttonTop/buttonTop.css";
