.card {
  border-radius: 0.2em;
  border: 1px solid var(--gray);
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.card img {
  border-radius: 0 0 0.2em 0.2em;
  max-height: 300px;
}

.card-content {
  padding: 15px;
}

.card-content:last-child {
  border-top: 1px solid var(--gray);
  border-radius: 0 0 0.2em 0.2em;
}

.card-meta-text-color {}

.card-description-text-color {}

.card-header {
  display: flex;
  align-items: center;
}

.card-header:last-child {
  border-top: 1px solid var(--gray);
}

.card-header a {
  margin: 10px;
}

.card-header a:last-child {
  color: var(--gray);
  text-decoration: none;
}

.card-header a:last-child:hover {
  color: var(--blue);
  text-decoration: none;
}

.card-content:last-child {
  border: none;
}

/* ====================== Card Group ============================================ */

.card-group-horizontal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-group-vertical {
  display: flex;
  flex-direction: column;
}