.app-header-menu {
  display: block;
  max-width: 1100px;
  width: 100%;
  margin: 16px auto;
  padding: 0 40px;
}

@media screen and (max-width: 1024px) {
  .app-header-menu {
    display: none;
  }
}

.app-header-logo-mobile > img {
  width: 216px;
  height: 39px;
  transform: scale(0.8);
}

.button-group-links {
  display: flex;
  justify-content: flex-start;
}

.app-header-bell-content {
  max-width: 350px;
  padding: 10px;
  /* height: 50vh; */
}

.bell-header-mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--primary-bg-color);
  z-index: 100;
  width: 100%;
  height: 100vh;
  padding: 10px;
}

.bell-header-mob-menu-overflow-hidden {
  overflow: hidden;
}

.app-header-button-mob-menu-open {
  margin-right: 8px;
}

/* ============================================= Mob menu */

.mobile-menu-overlay {
  background-color: var(--primary-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 98;
}

.mobile-menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-bg-color);
  border-radius: 0.2em 0 0 0.2em;
  height: 100vh;
  width: 230px;
  max-width: 100vw;
  z-index: 99;
  padding: 8px;
}

/* ============================== Animation */

.mobile-menu-icon-close {
  position: absolute;
  top: 2px;
  right: 4px;
  z-index: 101;
  animation-name: changePositionThere;
  animation-duration: 160ms;
}

/* ============================= Overlay */
.hidden-mobile-menu-overlay {
  opacity: 0;
  pointer-events: none;
  animation-name: changeOpacityBack;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

@keyframes changeOpacityBack {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* ============================ Menu */
.animation-mobile-menu-there {
  animation-name: changePositionThere;
  animation-duration: 150ms;
  animation-timing-function: linear;
}

@keyframes changePositionThere {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(1vw);
  }
}

.hidden-mobile-menu {
  opacity: 1;
  top: 0;
  right: 100vw;
  pointer-events: none;
  animation-timing-function: linear;
}

/* ==============================  */

.mobile-menu-content-wrapper {
  margin-right: 0;
  margin-left: auto;
  margin-top: 50px;
}

.mobile-menu-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 86vh;
}

.mobile-menu-main-button-logOut {
  margin-top: auto;
}

.mobile-menu-main-rtt-buttons {
  justify-content: left;
  max-width: 240px;
}

.mobile-menu-main-rtt-list-header {
  margin-top: 0;
  font-weight: 400;
}

.themes-buttons-wrapper {
  justify-content: flex-start;
}
