.divider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider:before,
.divider:after {
  content: '';
  width: 50%;
  height: 1px;
  border-bottom: 1px solid var(--primary-text-color);
}

.divider > *:first-child {
  margin-left: 8px;
}

.divider > *:last-child {
  margin-right: 8px;
}

.divider-content {
  white-space: nowrap;
}
