.button-to-top-wrapper {
  opacity: 0;
  position: fixed;
  bottom: 20%;
  right: 22px;
  z-index: 6;

  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.button-to-top-wrapper-is-visible {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

@media screen and (min-width: 768px) {
  .button-to-top-wrapper {
    bottom: 15%;
  }
}
