.label-default {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: max-content;
  color: var(--white);
  border-radius: 0.2em;
  border: 1px solid transparent;
}

.label-circle {
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50%;
}

.label-circle > span {
  line-height: normal;
}

.label-slim {
  padding: 4px 14px !important;
}

.label-fluid {
  width: 100%;
}

.label-icon-position-right {
  flex-direction: row-reverse;
}

.icon-label-left {
  margin-right: 8px;
}

.icon-label-right {
  margin-right: 0;
  margin-left: 8px;
}
