.heading-default {
}

.heading-first-letter-big::first-letter {
  text-transform: uppercase;
}

.heading-all-letters-big {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}
