.icon-el {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms linear;
  padding: 0;
}

/*~~~~~~~ icon rotate ~~~~~~~*/

.icon-270 {
  transform: rotate(270deg);
}

.icon-180 {
  transform: rotate(180deg);
}

.icon-90 {
  transform: rotate(90deg);
}

.icon-mirrorX {
  transform: scaleX(-1);
}

.icon-mirrorY {
  transform: scaleY(-1);
}
