.range {
  padding: 5px 25px;
}

.range-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--disabled-text-color);
  background-image: linear-gradient(var(--accent-color), var(--accent-color));

  background-repeat: no-repeat;
  height: 1px;
  background-size: 0% 100%;
  border-radius: 0.2em;

  position: relative;
}

.range-input-margin {
  margin-bottom: 17px;
}

.range-input:focus {
  outline: none;
}

.range-input::-webkit-slider-thumb {
  background: var(--accent-color);
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.range-input::-moz-range-thumb {
  background: var(--accent-color);
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.range-input-disabled {
  background-image: linear-gradient(#6f7e8c, #6f7e8c);
}

.range-input-disabled::-webkit-slider-thumb {
  background-color: #6f7e8c;
  cursor: default;
}

.range-input-disabled::-moz-range-thumb {
  background-color: #6f7e8c;
  cursor: default;
  /* background-image: linear-gradient(#6f7e8c, #6f7e8c); */
}

/* #6F7E8C */

.range-fluid {
  width: 100%;
}

.range-wrapper-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.range-wrapper-center {
  display: flex;
}

/* ============================================ */

.range-datalist {
  display: flex;
  justify-content: space-between;
}

.break-point {
  position: relative;
}

/* =================================== delimiter */

.break-point-delimiter {
  position: absolute;
  left: 7px;

  width: 3px;
  height: 1px;
}

.break-point-delimiter-label {
  -moz-appearance: none;
  top: -18px;
  /* -moz-top: -22px; */
}

.break-point-delimiter-without-label {
  top: -5px;
}

.break-point-delimiter-none {
  display: none;
}

.break-point-delimiter-gray {
  background-color: var(--disabled-text-color);
}

.break-point-delimiter-blue {
  background-color: var(--accent-color);
}

/* =================================== break-point-label */

.break-point-label {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;

  width: 15px;
}

.break-point-label-none {
  width: 15px;
  min-height: 0px;
  padding: 0;
  margin: 0;
}