.link-default {
  padding: 0;
}

.link-icon > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-icon:hover > a {
  text-decoration: none;
}

.link-default a {
  text-decoration: none;
  vertical-align: middle;
  color: var(--accent-color);
}

.link-color > a {
  color: inherit;
}

.link-underline {
  text-decoration: none;
}

.link-underline:hover {
  text-decoration: underline;
}

.text-align-center {
  text-align: center;
}
