.accordion-tittle {
  display: grid;
  grid-template-columns: 1fr 30px;
  padding: 10px 20px;
  align-items: center;
  border-radius: 0;
}

.accordion-tittle h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.accordion-tittle:hover {
  background: var(--default-border-color);
  cursor: pointer;
}

.accordion {
  background-color: transparent;
  border-radius: 0.2em;
  border-bottom: none;
  width: max-content;
}

.accordion-content {
  padding: 10px 20px;
}

.accordion-fluid {
  width: 100%;
}

/* ====================================== Basic */

.accordion-basic>.accordion-tittle:first-child {
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
}

.accordion-basic>.accordion-tittle:last-child {
  border-bottom-left-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
}

.accordion-basic>.accordion-tittle-border-bottom:not(:last-child) {
  border-bottom: 1px solid var(--default-border-color);
}

.accordion-basic>.accordion-content:not(:last-child) {
  border-bottom: 1px solid var(--default-border-color);
}

/* =========================== filling */

.accordion-outlined .accordion-tittle {
  border: 1px solid var(--default-border-color);
}

.accordion-outlined>.accordion-tittle:first-child {
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}

.accordion-outlined>.accordion-tittle:not(:first-child):not(.accordion-tittle-active) {
  border-top: 0;
}

.accordion-outlined .accordion-tittle-active {
  border: 1px solid var(--default-border-color);
  border-bottom: none !important;
}

.accordion-outlined .accordion-tittle-active:not(:first-child) {
  border-top: none;
}

.accordion-outlined .accordion-tittle:last-child {
  border-bottom-right-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

.accordion-outlined .accordion-content:last-child {
  border-bottom-right-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

.accordion-outlined .accordion-content-active {
  border: 1px solid var(--default-border-color);
  border-top: none !important;
}

.accordion-filling .accordion-tittle-active {
  background-color: var(--accordion-background);
}

.accordion-filling .accordion-content-active {
  background-color: var(--accordion-background);
}

/* ==================================== Divider */

.accordion-divided .accordion-tittle-active:not(:first-child) {
  margin-top: 10px;
}

.accordion-divided .accordion-content-active:not(:last-child) {
  margin-bottom: 10px;
}

/* ====================================== Divider  */

.accordion-divided>.accordion-tittle:last-child {
  border-bottom: 1px solid var(--default-border-color) !important;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.accordion-divided .accordion-content+.accordion-tittle {
  border-top: 1px solid var(--default-border-color) !important;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}

.accordion-divided .accordion-tittle-active:not(:first-child) {
  border-top: 1px solid var(--default-border-color);
}

.accordion-divided .accordion-tittle-active {
  border: 1px solid var(--default-border-color);
  border-radius: 0.2em 0.2em 0 0 !important;
  border-bottom: none !important;
}

.accordion-divided .accordion-content:not(:last-child) {
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}