.block-item {
  position: relative;
  padding: 8px;
  margin: 4px;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  border: 1px solid var(--default-border-color);
}

.block-item-center {
  text-align: center;
}

.block-basic {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: 0 0 0 0 rgb(34 36 38 / 15%);
}

.block-no-margin {
  margin: 0;
}

.block-no-padding {
  padding: 0;
}

.block-soft-square {
  border-radius: 0.2em;
}

.block-item-fullscreen {
  width: 100vw;
  height: 100vh;
}

.block-text-left {
  text-align: left;
}

.block-text-right {
  text-align: right;
}

.block-text-center {
  text-align: center;
}

.block-text-justify {
  text-align: justify;
}

.block-border-top-red {
  border-top: 2px solid var(--red);
}

.block-border-top-orange {
  border-top: 2px solid var(--orange);
}

.block-border-top-yellow {
  border-top: 2px solid var(--yellow);
}

.block-border-top-olive {
  border-top: 2px solid var(--olive);
}

.block-border-top-green {
  border-top: 2px solid var(--green);
}

.block-border-top-teal {
  border-top: 2px solid var(--teal);
}

.block-border-top-blue {
  border-top: 2px solid var(--blue);
}

.block-border-top-violet {
  border-top: 2px solid var(--violet);
}

.block-border-top-purple {
  border-top: 2px solid var(--purple);
}

.block-border-top-pink {
  border-top: 2px solid var(--pink);
}

.block-border-top-brown {
  border-top: 2px solid var(--brown);
}

.block-border-top-gray {
  border-top: 2px solid var(--gray);
}

.block-border-top-black {
  border-top: 2px solid var(--black);
}

.block-width-fluid {
  width: 100%;
}

.block-no-border {
  border: none;
  box-shadow: none;
}