/* .code-input-wrap {
  width: max-content;
} */

.code-input {
  height: 60px;
  width: 40px;
  margin: 0 4px;

  border: none;
  border-bottom: 2px solid var(--div-border-color);
  color: inherit;
  background-color: transparent;
  text-align: center;
  font-size: 32px;
}
