.errorBoundary {
  width: max(100% - 24px, 350px);
  margin-inline: auto;
  padding: 16px;
}

.errorBoundary > * {
  margin-inline: auto;
}

.errorBoundary > *:not(:last-child) {
  margin-bottom: 16px;
}
