.textarea {
  position: relative;
  resize: vertical;
  color: var(--primary-text-color);
  border: 1px solid var(--default-border-color) !important;
  padding: 10px;
  background: var(--primary-bg-color);
  border-radius: 0.2em;
}

.textarea:focus-visible {
  outline: none;
  border: 1px solid var(--accent-color);
}

.textarea-no-margin {
  margin: 0;
}

.textarea-fluid {
  width: 100%;
}