.default-message {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 10px;
  margin: 20px 20px 20px 0;
  border-radius: 0.2em;
}

.message-shadow {
  box-shadow: 0 4px 4px var(--shadow-color);
}

.message-fluid {
  width: revert;
}

.default-message p {
  margin: 0;
}

.messege-heading-name {
  margin-left: 0;
}

.messege-time {
  font-size: 12px;
}

.info-message {
  background: var(--accent-color-border);
}

.error-message {
  color: var(--red);
}

.success-message {
  color: var(--green);
}

.warning-message {
  color: var(--orange);
}

.icon-message-wrapper {
  margin-right: 10px;
}

.chat-message-your {
  width: clamp(200px, calc(100% - 50%), 1000px);
  margin-left: auto;
  border-radius: 0.2em;
  border: 1px solid #e5e5e5;
}

.chat-message-your h3 {
  margin-bottom: 10px;
}

.chat-message-your p {
  margin: 0;
  margin-right: 10px;
}

.chat-message-your div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chat-message-another {
  width: clamp(200px, calc(100% - 50%), 1000px);
  border-radius: 0.2em;
  background-color: var(--accent-color-border);
  border: 1px solid var(--accent-color);
}

.chat-message-another h3 {
  margin-bottom: 10px;
}

.chat-message-another p {
  margin: 0;
  margin-right: 10px;
}

.chat-message-another div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.default-message-wrapper-flex {
  display: flex;
}
