.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  flex-direction: row;

  max-width: max-content;

  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 0.2em;

  transition-property: background-color, box-shadow, border-color, color;
  transition-duration: 250ms, 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms, 0ms, 0ms, 0ms;
}

.theme-light .checkbox-wrapper:hover {
  background-color: var(--primary-75);
}

.theme-dark .checkbox-wrapper:hover {
  background-color: var(--primary-900);
}

.checkbox-wrapper-disabled:hover,
.checkbox-wrapper-disabled:focus {
  cursor: not-allowed;
  background-color: transparent !important;
}

.checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

.checkbox-input + .checkbox-label {
  /* display: inline-flex; */
  /* align-items: center; */
  user-select: none;
}

.checkbox-label-link {
  color: var(--accent-color);
  /* display: inline-flex; */
}

/* ============================================ */

.checkbox-icon-element {
  /* display: inline-block; */
  margin-right: 8px;
  border-radius: 0.2em;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
}

.checkbox-icon-element-color {
  border-color: var(--accent-color);
}

.checkbox-icon-element-disabled-color {
  border-color: var(--disabled-text-color) !important;
}

.checkbox-icon-element-checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
/* background-color: var(--disabled--accent-color); */
.checkbox-icon-element-disabled-checked {
  background-color: var(--disabled--accent-color);
  border-color: var(--disabled--accent-color);
}

.icon-checkbox {
  color: white;
  font-size: 80%;
}

/* ================= */

.checkbox-wrapper-top .checkbox-icon-element {
  margin-right: 0;
  margin-top: 8px;
}

.checkbox-wrapper-top {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  flex-direction: column-reverse;
  -webkit-tap-highlight-color: transparent;
}

/* ================= */

.checkbox-wrapper-bottom .checkbox-icon-element {
  margin-right: 0;
  margin-bottom: 8px;
}

.checkbox-wrapper-bottom {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
}

/* ================= */

.checkbox-wrapper-left .checkbox-icon-element {
  margin-right: 0;
  margin-left: 8px;
}

.checkbox-wrapper-left {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  flex-direction: row-reverse;
}

/* ================= */

.checkbox-fluid {
  width: 100% !important;
  max-width: 100% !important;
}
