.size-3xs .checkbox-icon-element {
  width: calc(var(--size-3xs) + 2px);
  min-width: calc(var(--size-3xs) + 2px);
  height: calc(var(--size-3xs) + 2px);
  min-height: calc(var(--size-3xs) + 2px);
  border-width: 1px;
}

.size-2xs .checkbox-icon-element {
  width: calc(var(--size-2xs) + 2px);
  min-width: calc(var(--size-2xs) + 2px);
  height: calc(var(--size-2xs) + 2px);
  min-height: calc(var(--size-2xs) + 2px);
  border-width: 1px;
}

.size-xs .checkbox-icon-element {
  width: calc(var(--size-xs) + 2px);
  min-width: calc(var(--size-xs) + 2px);
  height: calc(var(--size-xs) + 2px);
  min-height: calc(var(--size-xs) + 2px);
  border-width: 1px;
}

.size-s .checkbox-icon-element {
  width: calc(var(--size-s) + 2px);
  min-width: calc(var(--size-s) + 2px);
  height: calc(var(--size-s) + 2px);
  min-height: calc(var(--size-s) + 2px);
  border-width: 1px;
}

.size-m .checkbox-icon-element {
  width: calc(var(--size-m) + 4px);
  min-width: calc(var(--size-m) + 4px);
  height: calc(var(--size-m) + 4px);
  min-height: calc(var(--size-m) + 4px);
  border-width: 2px;
}

.size-l .checkbox-icon-element {
  width: calc(var(--size-l) + 4px);
  min-width: calc(var(--size-l) + 4px);
  height: calc(var(--size-l) + 4px);
  min-height: calc(var(--size-l) + 4px);
  border-width: 2px;
}

.size-xl .checkbox-icon-element {
  width: calc(var(--size-xl) + 4px);
  min-width: calc(var(--size-xl) + 4px);
  height: calc(var(--size-xl) + 4px);
  min-height: calc(var(--size-xl) + 4px);
  border-width: 2px;
}

.size-2xl .checkbox-icon-element {
  width: calc(var(--size-2xl) + 6px);
  min-width: calc(var(--size-2xl) + 6px);
  height: calc(var(--size-2xl) + 6px);
  min-height: calc(var(--size-2xl) + 6px);
  border-width: 3px;
}

.size-3xl .checkbox-icon-element {
  width: calc(var(--size-3xl) + 6px);
  min-width: calc(var(--size-3xl) + 6px);
  height: calc(var(--size-3xl) + 6px);
  min-height: calc(var(--size-3xl) + 6px);
  border-width: 3px;
}

.size-4xl .checkbox-icon-element {
  width: calc(var(--size-4xl) + 6px);
  min-width: calc(var(--size-4xl) + 6px);
  height: calc(var(--size-4xl) + 6px);
  min-height: calc(var(--size-4xl) + 6px);
  border-width: 3px;
}
