.icon > * {
  display: inline-block;
  vertical-align: middle;
}

.size-3xs > * {
  width: var(--size-3xs);
  height: var(--size-3xs);
}

.size-2xs > * {
  width: var(--size-2xs);
  height: var(--size-2xs);
}

.size-xs > * {
  width: var(--size-xs);
  height: var(--size-xs);
}

.size-s > * {
  width: var(--size-s);
  height: var(--size-s);
}

.size-m > * {
  width: var(--size-m);
  height: var(--size-m);
}

.size-l > * {
  width: var(--size-l);
  height: var(--size-l);
}

.size-xl > * {
  width: var(--size-xl);
  height: var(--size-xl);
}

.size-2xl > * {
  width: var(--size-2xl);
  height: var(--size-2xl);
}

.size-3xl > * {
  width: var(--size-3xl);
  height: var(--size-3xl);
}

.size-4xl > * {
  width: var(--size-4xl);
  height: var(--size-4xl);
}
