.tab-pane {
  margin-top: 8px;
}

.tab-button-group {
  flex-wrap: nowrap;
  overflow-x: auto;
  border: 1px solid var(--default-border-color);
  border-radius: 0.2em;
}

.tab-button-group-fit {
  max-width: max-content;
}

.tab-button-group-fluid {
  width: 100%;
}

.tab-label {
  padding: 2px 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 0.2em;
}

.tab-icon {
  margin-left: 8px;
  margin-right: 8px;
}

.button-tabs,
.button-tabs:hover,
.button-tabs:active {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.button-tabs:not(:last-child),
.button-tabs:not(:last-child):hover {
  border-right: 1px solid var(--default-border-color);
  border-radius: 0px;
}

.button-tabs:first-child {
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

.button-tabs:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.button-tabs-close,
.button-tabs-close:hover,
.button-tabs-close:active {
  justify-content: space-between;
}

.tab-button-close {
  padding: 4px;
  margin-left: 8px;
}