.size-3xs .switch {
  width: calc(var(--size-3xs) * 2 + 2px);
  height: calc(var(--size-3xs) + 2px);
  border-radius: var(--size-3xs);
}

.size-2xs .switch {
  width: calc(var(--size-2xs) * 2 + 2px);
  height: calc(var(--size-2xs) + 2px);
  border-radius: var(--size-2xs);
}

.size-xs .switch {
  width: calc(var(--size-xs) * 2 + 2px);
  height: calc(var(--size-xs) + 2px);
  border-radius: var(--size-xs);
}

.size-s .switch {
  width: calc(var(--size-s) * 2 + 2px);
  height: calc(calc(var(--size-s)) + 2px);
  border-radius: var(--size-s);
}

.size-m .switch {
  width: calc(var(--size-m) * 2 + 4px);
  height: calc(var(--size-m) + 4px);
  border-radius: var(--size-m);
  border-width: 2px;
}

.size-l .switch {
  width: calc(var(--size-l) * 2 + 4px);
  height: calc(var(--size-l) + 4px);
  border-radius: var(--size-l);
  border-width: 2px;
}

.size-xl .switch {
  width: calc(var(--size-xl) * 2 + 4px);
  height: calc(var(--size-xl) + 4px);
  border-radius: var(--size-xl);
  border-width: 2px;
}

.size-2xl .switch {
  width: calc(var(--size-2xl) * 2 + 6px);
  height: calc(var(--size-2xl) + 6px);
  border-radius: var(--size-2xl);
  border-width: 3px;
}

.size-3xl .switch {
  width: calc(var(--size-3xl) * 2 + 6px);
  height: calc(var(--size-3xl) + 6px);
  border-radius: var(--size-3xl);
  border-width: 3px;
}

.size-4xl .switch {
  width: calc(var(--size-4xl) * 2 + 6px);
  height: calc(var(--size-4xl) + 6px);
  border-radius: var(--size-4xl);
  border-width: 3px;
}
