.switch-wrap {
  display: flex;
  align-items: center;
  flex-direction: row;

  min-width: max-content;
  max-width: max-content;

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.2em;
}

.theme-light .switch-wrap:hover {
  background-color: var(--primary-75);
}

.theme-dark .switch-wrap:hover {
  background-color: var(--primary-900);
}

.switch-wrap-disabled {
  cursor: not-allowed;
}

.switch-wrap-disabled .switch-input:checked + .switch {
  background-color: var(--primary-200);
  border-color: var(--primary-200);
}

.switch-wrap-disabled:hover {
  background-color: transparent;
}

.switch-wrap-fluid {
  max-width: none;
}

.switch-wrap label {
  cursor: inherit;
  margin-right: 8px;
}

.switch-input {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  background: var(--gray-450);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-450);
}

.switch-pointer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  transition: all 300ms;
}

.switch-input:checked + .switch {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.switch-input:checked + .switch .switch-pointer {
  transform: translateX(100%);
}

/*~~~~~~~ position ~~~~~~~*/
.switch-right {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.switch-right > label {
  margin-right: 0;
  margin-left: 8px;
}

.switch-top {
  flex-direction: column;
}

.switch-top > label {
  margin-right: 0;
  margin-bottom: 8px;
}

.switch-bottom {
  flex-direction: column-reverse;
}

.switch-bottom > label {
  margin-right: 0;
  margin-top: 8px;
}
