.image-wrap {
  width: auto;
  height: auto;
  /* overflow: hidden; */
}

.image {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: contain;
}

.image-auto {
  height: auto;
  width: auto;
}

.image-border {
  border: 1px solid var(--block-border-color);
}

.image-round {
  border-radius: 0.2em;
}

.image-height-auto {
  height: auto;
}
