.dropdown {
  position: relative;
  border-bottom: none;
  border-radius: 0.2em;
  padding: 0;
}

.dropdown-content {
  z-index: 11;
  position: absolute;
  background-color: var(--primary-bg-color);
  border-radius: 0.2em;
  cursor: default;
  overflow: hidden;
  width: max-content;
  padding: 0;
}

.dropdown-content-border {
  border: 1px solid var(--default-border-color);
}

.dropdown-content-nested {
  overflow: visible;
}

.dropdown-content-interactiveContent > * {
  cursor: pointer;
}

.dropdown-content-interactiveContent > *:hover,
.dropdown-content-interactiveContent > *:focus {
  background-color: var(--accent-color-03);
}

.dropdown-content-slim-width {
  width: 100%;
}

/*~~~~~~~ position content ~~~~~~~*/

.dropdown-content-top {
  bottom: 100%;
}

.dropdown-content-left {
  top: 0%;
  right: 100%;
}

.dropdown-content-right {
  top: 0%;
  left: 100%;
}

.dropdown-content-itemsRow {
  display: flex;
}

.dropdown-fluid {
  width: 100%;
}

.dropdown-content-fluid {
  width: inherit;
}
