.default-chat {
  width: clamp(300px, calc(100%), 1150px);
  height: 300px;
  overflow: scroll;
  margin: 0 auto;
  margin-bottom: 20px;
  margin: 0;
}

.telegram-form-chat + form {
  display: flex;
  align-items: center;
}

.telegram-form-chat + form textarea {
  margin: 0;
  margin-right: 20px;
  border: 1px solid var(--accent-color);
}

.chat-round-course {
  border-radius: 0.2em;
}
