.progress-bar {
  background-color: #dededf;
  position: relative;
  width: 170px;
  height: 12px;
  border-radius: 0.2rem;
  overflow: hidden;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
